ListView{
	-fx-background-color: #525252;
}

.list-cell{
	-fx-background-color: #424242;
	-fx-text-fill: white;
}
.list-cell:even{
	-fx-background-color: #323232;
	-fx-text-fill: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: firebrick ;
    -fx-text-fill: white;
}

.list-cell:hover {
    -fx-background-color: #222222;
    -fx-text-fill: white;
    }
